@media (prefers-color-scheme: dark){
  body {color:white;background:black}
  a:link {color:#9cf}
  a:hover, a:visited:hover {color:#cef}
  a:visited {color:#c9f}
}
body {
  font: 1.2em/1.62 sans-serif; /* use system-default sans-serif font, the value after the / is the line-height */
  margin: 0 auto; /* centers the content */
  max-width: 60em;
  padding: 0 .62em;
}
figure {
  background: rgba(50%,50%,50%,5%);
  display: table;
  margin: 0 auto;
  overflow: auto;
}
figcaption {
  text-align: center;
}
pre {
  font-family: monospace;
  padding: 0 1em;
}
code {
  font-family: monospace;
  font-size: 1.2em; /* monospace fonts tend to be tiny, so we have to give them a boost.  */
}
nav {
  background-color: indianred; /* picked on accident, but looks nice */
}
nav h1 {
  margin: 0;
  display: inline-block;
}
a {
  color: indianred; /* also works well against a dark background */
}
nav a {
  padding: 0 0.5em;
  color: white;
  display: inline-block;
}
footer {
  border-top: 1px solid indianred;
  text-align: center;
}
