@media (prefers-color-scheme: dark){
  body {color:white;background:black;}
}
body {
  font: 1.2em/1.62 sans-serif; /* use system-default sans-serif font, the value after the / is the line-height */
  margin: 0 auto; /* centers the content */
  max-width: 60em;
  padding: 0 0.62em;
}
figure {
  font: 1em monospace;
  background: indianred;
  color: white;
  display: table;
  margin: 1em auto;
  padding: 0 1em;
  border-radius: 0.5em;
  overflow: auto;
}
figcaption {
  text-align: center;
}
pre {
  line-height: 1.2em;
}
code {
  font: 1.2em monospace;
  background: rgba(205, 92, 92, 0.1); /* indianred at 10% opacity. IUnfortunately CSS doesn't let you mix names and transparency. */
  padding: 0.1em 0.2em;
  border-radius: 0.3em;
}
nav {
  background-color: indianred; /* picked on accident, but looks nice */
}
nav h1 {
  margin: 0;
  display: inline-block;
}
a {
  color: indianred; /* also works well against a dark background */
}
nav a {
  padding: 0 0.5em;
  color: white;
  display: inline-block;
}
footer {
  border-top: 1px solid indianred;
  text-align: center;
}
